# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Virtual environments
.env
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Streamlit cache
.streamlit/

# R
.Rhistory
